<h1>GANSKY - NAVBAR</h1>
<div class="banner bg-blue">
  <h2>La Coloc Idéale</h2>
  <p>Les meilleurs offres de colocation à Cergy Préfecture</p>
  <button>Voir les appartements</button>
</div>
<div class="bg-grey">
  <p>Des colocs entièrement équipées</p>
  <p>Des prix tout compris et pas de surprise</p>
  <p>Simple et facile intégralement en ligne</p>
</div>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col s12 m6">
        <div class="flat-card" style="background-image: url(<%= image_url('flat.jpg') %>);">
          <div class="flat-card-header">
            <h3><%= flat.name %></h3>
            <div><%= flat.address %></div>
          </div>
          <div class="flat-card-infos">
            <div class="general-infos">
              <div><%= flat.nb_rooms %> Chambres</div>
              <div><%= flat.address %></div>
            </div>
            <% if flat.occupied %>
              <div class="disponibility occupied">
                Déjà Loué
              </div>
            <% else %>
              <div class="disponibility free">
                <div>Disponible</div>
                <div>1er Août 2017</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= image_tag 'carte-cergy.png', id: 'carte-cergy', alt: 'location-appartements-cergy' %>
